[submodule "personal-homepage"]
	path = personal-homepage
	url = git@github.com:cuppajoeman/personal-homepage.git
[submodule "fast-html"]
	path = fast-html
	url = git@github.com:simple-web-tools/fast-html.git
[submodule "insert-file-contents"]
	path = insert-file-contents
	url = git@github.com:simple-web-tools/insert-file-contents.git
[submodule "cjm-css"]
	path = cjm-css
	url = git@github.com:cuppajoeman/cjm-css.git
[submodule "fsweb"]
	path = fsweb
	url = git@github.com:simple-web-tools/fsweb.git
